# Joining population data of LGA's to LGA polygon data

In [182]:
import pandas as pd
import shapefile as shp
import geopandas as gpd

In [171]:
#read the LGA polygon shapefile
#as per geo_df_pop.to_file('1259030001_lga11aaust_shape/LGA11aAust.shp') code futher below, 
#if we open up the file again it will now contain the pop data as we have saved it to it.
geo_df = gpd.read_file('1259030001_lga11aaust_shape/LGA11aAust.shp')

#view LGA polygon shapefile
geo_df

,STATE_CODE,LGA_CODE11,LGA_NAME11,geometry
0,1,10050,Albury (C),"POLYGON ((146.91383 -36.00692, 146.91500 -36.0..."
1,1,10110,Armidale Dumaresq (A),"POLYGON ((151.53577 -30.45832, 151.53576 -30.4..."
2,1,10150,Ashfield (A),"POLYGON ((151.12123 -33.89556, 151.12108 -33.8..."
3,1,10200,Auburn (C),"POLYGON ((151.01513 -33.86322, 151.01510 -33.8..."
4,1,10250,Ballina (A),"MULTIPOLYGON (((153.57084 -28.87380, 153.57085..."
...,...,...,...,...
560,7,74560,Wagait (S),"MULTIPOLYGON (((130.76616 -12.44773, 130.76698..."
561,7,74660,West Arnhem (S),"MULTIPOLYGON (((132.15517 -11.54138, 132.15483..."
562,7,79399,Unincorporated NT,"MULTIPOLYGON (((130.86904 -12.59312, 130.86869..."
563,8,89399,Unincorporated ACT,"POLYGON ((149.19082 -35.36885, 149.18870 -35.3..."
564,9,99399,Unincorp. Other Territories,"MULTIPOLYGON (((96.83044 -12.17634, 96.83043 -..."

In [132]:
#read population csv file
population_df = pd.read_csv('2011_BCP_LGA_for_AUST_short-header/2011 Census BCP Local Government Areas for AUST/AUST/2011Census_B01_AUST_LGA_short.csv')

In [141]:
#Rename the column of the region_id column to be the same as our geo_df dataframe "LGA_CODE11"
population_df = population_df.rename(columns={'region_id':'LGA_CODE11'})

In [144]:
#remove 'LGA' from the  data'LGA_CODE11' column to be consistent with the LGA_CODE11 data in geo_df
#need the regex agrument here otherwise it won't replace
population_df = rename_df.replace('LGA','', regex=True)

In [145]:
population_df

,LGA_CODE11,Tot_P_M,Tot_P_F,Tot_P_P,Age_0_4_yr_M,Age_0_4_yr_F,Age_0_4_yr_P,Age_5_14_yr_M,Age_5_14_yr_F,Age_5_14_yr_P,...,High_yr_schl_comp_Yr_8_belw_P,High_yr_schl_comp_D_n_g_sch_M,High_yr_schl_comp_D_n_g_sch_F,High_yr_schl_comp_D_n_g_sch_P,Count_psns_occ_priv_dwgs_M,Count_psns_occ_priv_dwgs_F,Count_psns_occ_priv_dwgs_P,Count_Persons_other_dwgs_M,Count_Persons_other_dwgs_F,Count_Persons_other_dwgs_P
0,10050,23072,24738,47810,1572,1505,3077,3168,3051,6219,...,2366,92,94,186,21178,22830,44008,1821,1813,3634
1,10110,11515,12590,24105,697,707,1404,1641,1556,3197,...,898,42,39,81,9848,10733,20581,1840,2063,3903
2,10150,20032,21182,41214,1208,1192,2400,1971,1844,3815,...,2039,209,338,547,18130,19181,37311,1869,1919,3788
3,10200,38225,35513,73738,2865,2776,5641,4612,4243,8855,...,4271,1000,1362,2362,34448,33280,67728,4016,2360,6376
4,10250,18842,20432,39274,1142,996,2138,2492,2412,4904,...,2048,36,33,69,17619,19127,36746,1327,1376,2703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,79499,1019,850,1869,30,33,63,41,41,82,...,83,6,5,11,0,0,0,0,0,0
573,89399,176416,180170,356586,12376,11439,23815,21806,20663,42469,...,8516,485,683,1168,161335,167250,328585,15678,12636,28314
574,89499,328,304,632,10,19,29,15,15,30,...,22,3,3,6,0,0,0,0,0,0
575,99399,1960,1044,3004,78,65,143,181,179,360,...,156,72,85,157,1061,932,1993,1202,244,1446
576,99499,7,18,25,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [174]:
#isin method
#remove row based on condition (population_df 577 rows versus 565 rows, we want these to remove any rows that are surplus)
population_df = population_df[population_df['LGA_CODE11'].isin(geo_df['LGA_CODE11'])]

In [175]:
population_df

,LGA_CODE11,Tot_P_M,Tot_P_F,Tot_P_P,Age_0_4_yr_M,Age_0_4_yr_F,Age_0_4_yr_P,Age_5_14_yr_M,Age_5_14_yr_F,Age_5_14_yr_P,...,High_yr_schl_comp_Yr_8_belw_P,High_yr_schl_comp_D_n_g_sch_M,High_yr_schl_comp_D_n_g_sch_F,High_yr_schl_comp_D_n_g_sch_P,Count_psns_occ_priv_dwgs_M,Count_psns_occ_priv_dwgs_F,Count_psns_occ_priv_dwgs_P,Count_Persons_other_dwgs_M,Count_Persons_other_dwgs_F,Count_Persons_other_dwgs_P
0,10050,23072,24738,47810,1572,1505,3077,3168,3051,6219,...,2366,92,94,186,21178,22830,44008,1821,1813,3634
1,10110,11515,12590,24105,697,707,1404,1641,1556,3197,...,898,42,39,81,9848,10733,20581,1840,2063,3903
2,10150,20032,21182,41214,1208,1192,2400,1971,1844,3815,...,2039,209,338,547,18130,19181,37311,1869,1919,3788
3,10200,38225,35513,73738,2865,2776,5641,4612,4243,8855,...,4271,1000,1362,2362,34448,33280,67728,4016,2360,6376
4,10250,18842,20432,39274,1142,996,2138,2492,2412,4904,...,2048,36,33,69,17619,19127,36746,1327,1376,2703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,74560,194,175,369,9,3,12,10,22,32,...,18,0,0,0,178,164,342,16,7,23
570,74660,3263,2969,6232,305,271,576,658,571,1229,...,926,22,29,51,2893,2751,5644,1145,750,1895
571,79399,4806,3283,8089,359,301,660,552,513,1065,...,152,13,18,31,3083,2643,5726,3494,1723,5217
573,89399,176416,180170,356586,12376,11439,23815,21806,20663,42469,...,8516,485,683,1168,161335,167250,328585,15678,12636,28314
575,99399,1960,1044,3004,78,65,143,181,179,360,...,156,72,85,157,1061,932,1993,1202,244,1446

In [150]:
# population_df reduced from 577 rows Ã— 109 columns to 565 rows Ã— 109 columns"

In [176]:
#extract the total population column
extracted_population_col = population_df["Tot_P_P"]

#add total population to geo_df
geo_df_pop = geo_df.join(extracted_population_col)

In [178]:
geo_df_pop

,STATE_CODE,LGA_CODE11,LGA_NAME11,geometry,Tot_P_P
0,1,10050,Albury (C),"POLYGON ((146.91383 -36.00692, 146.91500 -36.0...",47810.0
1,1,10110,Armidale Dumaresq (A),"POLYGON ((151.53577 -30.45832, 151.53576 -30.4...",24105.0
2,1,10150,Ashfield (A),"POLYGON ((151.12123 -33.89556, 151.12108 -33.8...",41214.0
3,1,10200,Auburn (C),"POLYGON ((151.01513 -33.86322, 151.01510 -33.8...",73738.0
4,1,10250,Ballina (A),"MULTIPOLYGON (((153.57084 -28.87380, 153.57085...",39274.0
...,...,...,...,...,...
560,7,74560,Wagait (S),"MULTIPOLYGON (((130.76616 -12.44773, 130.76698...",72930.0
561,7,74660,West Arnhem (S),"MULTIPOLYGON (((132.15517 -11.54138, 132.15483...",9098.0
562,7,79399,Unincorporated NT,"MULTIPOLYGON (((130.86904 -12.59312, 130.86869...",9187.0
563,8,89399,Unincorporated ACT,"POLYGON ((149.19082 -35.36885, 149.18870 -35.3...",18994.0
564,9,99399,Unincorp. Other Territories,"MULTIPOLYGON (((96.83044 -12.17634, 96.83043 -...",5831.0

In [187]:
#this has added our population data to our file, 
geo_df_pop.to_file('1259030001_lga11aaust_shape/LGA11aAust.shp')

In [184]:
def create_distinct_data_map(df,folium):
    fire_location = df[["latitude", "longitude"]]
    map = folium.Map(location=[fire_location.latitude.mean(), fire_location.longitude.mean()],
                 zoom_start=5, control_scale=True)
    for index, location_info in fire_location.iterrows():
        folium.Marker([location_info["latitude"], location_info["longitude"]]
                      ,icon=folium.Icon(color="orange",icon = "fire")).add_to(map)
    #have used https://mapshaper.org/ to reduce the file size of polygons. I am now using 
    #reduced file LGA11aAust.json rather than LGA11aAust.geojson 
    folium.GeoJson('LGA11aAust.json').add_to(map)
    
    return map

In [179]:
#save new data frame as a csv file
geo_df_pop.to_csv('geo_df_pop.csv')